@use 'global' as *;

.l-container {
  max-width: $layout-width-content;
  margin-inline: auto;
  padding-inline: $layout-padding-inline-sp;

  @include mq(md) {
    padding-inline: $layout-padding-inline;
  }
}
