@use "../abstracts" as *;

.footer {
  padding: 32px 0;
  background-color: $color-green;
}

.footer__inner {
  @include inner;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.footer__logo {
  display: block;

  img {
    width: 60px;
    height: auto;
  }

  @include hover {
    opacity: 0.8;
    transition: opacity $transition-base;
  }
}

.footer__copy {
  font-size: var(--font-size-sm);
  color: $color-dark;
}
